pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytz==2022.1
pyxdg==0.27
pyzmq==27.1.0
rasterio==1.4.4
referencing==0.37.0
requests==2.25.1
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
SecretStorage==3.3.1
shapely==2.1.2
simplejson==3.20.2
six==1.16.0
ssh-import-id==5.11
stack-data==0.6.3
statsmodels==0.14.6
sympy==1.14.0
threadpoolctl==3.6.0
tomli==2.4.0
torch==2.9.1
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.5
wcwidth==0.5.3
widgetsnbextension==4.0.15
zipp==1.0.0